################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PAL/v15
/PAL2/.vs/PAL_Solution/v15
/.vs
